:root {
  box-sizing: border-box;
  --dark-blue: #272343;
  --light-blue: #e3f6f5;
  --medium-blue: #bae8e8;
  --warning-red: #ff0000;
  font-family: "Lemon", cursive;
}
.total-input-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--dark-blue);
}
.size-option-container {
  display: flex;
  flex-direction: column;
  width: clamp(150px,85%,500px);
  height: clamp(150px,30%,300px); 
  gap: 30px;
  transition: 400ms ease-in-out;
}
.size-option-container.hide {
  transform: scale(0);
  transition: 400ms ease-in-out;
  width: 0;
  height: 0;
}
div.size-container-header {
  text-align: center;
  color: var(--light-blue);
  font-weight: bolder;
  font-size: clamp(16px,3vw,30px);
  letter-spacing: 5px;
}
.button-size-input{
  display: flex;
   width: 100%;
  height: 100%; 
}
.button-size-input > button {
  width: 100%;
  cursor: pointer;
  font-size: clamp(15px,11vw,2.7rem);
  border: 1px solid var(--dark-blue);
  border-radius: 12px;
  background: var(--medium-blue);
}
.button-size-input > button:hover {
  background-color: lightblue;
  cursor: pointer;
}
.button-size-input > button:active {
  background-color: var(--medium-blue);
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  background-color: var(--dark-blue);
  pointer-events: all;
  transition: 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
#overlay.hide {
  opacity: 0;
  pointer-events: none;
}

.game-interface{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(1);
  transition: 300ms ease-in-out;
  background-color: var(--medium-blue);
  display: flex;
  justify-content: center;
}
.board-container{
  width: clamp(350px,50%,500px);
  height: clamp(150px,50%,500px);
  display: grid;
  gap: 1px;
  margin: 16px;
}
.game-interface.hide{
  transform: scale(0);
}
.board-container > .board-part{
  background-color: var(--dark-blue);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg.game-component{
  width: clamp(40px, 75% , 100px);
  height: clamp(40px, 75% , 100px);
  transform: scale(1);
  transition: 700ms ease-in-out;
}
g.winner{
  fill: #1bf5af;
  transition: 700ms ease-in-out;
}
g{
  transition: 700ms ease-in-out;
}
svg.game-component.winner{
  transform: scale(1) rotate3d(2, -1, -1,360deg) !important;
  transition: 700ms;
}
svg.game-component.hide{
  width: 0px;
  height: 0px;
  transform: scale(0);
}
.user-input-container {
  display: flex;
  align-items: center;
  gap: 32px;
  box-shadow: 0px 0px 5px 5px var(--light-blue);
  padding: 52px;
  border-radius: 32px;
  transition: 400ms ease-in-out;
}

.user-input-container.hide {
  transform: scale(0);
  width: 0;
  height: 0;
}
.user-input1,
.user-input2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-input-container input {
  border-radius: 4px;
  height: 25px;
  padding-left: 5px;
  border: none;
  margin-bottom: 56px;
  background-color: var(--light-blue);
}
.input-body {
  display: flex;
  flex-direction: column;
}
.start-game-button {
  border-radius: 30px;
  height: 32px;
  width: 130px;
  background: var(--medium-blue);
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
}
.start-game-button:hover {
  background: var(--light-blue);
  cursor: pointer;
}
.start-game-button:active {
  background: var(--medium-blue);
}

.player1,
.player2 {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.radio__input {
  display: none;
}

.radio__label {
  box-sizing: border-box;
  padding: 8px 14px;
  background: var(--dark-blue);
  color: var(--light-blue);
  cursor: pointer;
  transition: background-color 0.1s;
  border-top: 4px solid var(--medium-blue);
  border-bottom: 4px solid var(--medium-blue);
  border-left: 1px solid var(--medium-blue);
  border-right: 1px solid var(--medium-blue);
  flex: 1;
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.radio__input:checked + .radio__label {
  background: var(--medium-blue);
  color: var(--dark-blue);
}
div.user-input-container div.symbol-error-message {
  color: var(--warning-red);
  align-self: center;
  margin-top: 32px;
  transform: scale(1);
  transition: 300ms ease-in-out;
}
div.user-input-container div.symbol-error-message.hide {
  transform: scale(0);
}
