:root {
  box-sizing: border-box;
  --dark-blue: #272343;
  --light-blue: #e3f6f5;
  --medium-blue: #bae8e8;
  --warning-red: #ff0000;
  --winning-color:#1bf5af;
  font-family: "Lemon", cursive;
  --input-font-size: clamp(11.5px,1.4vw,16px);
}
.buffer-background {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background: var(--medium-blue);
}
.total-input-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--dark-blue);
  transform: scale(1);
}
.total-input-container.hide {
  transform: scale(0);
  width: 0px;
  height: 0px;
  transition: 300ms ease-in-out;
}
.size-option-container {
  display: flex;
  flex-direction: column;
  width: clamp(150px,85%,650px);
  height: clamp(150px,32%,450px);
  gap: 30px;
  transition: 400ms ease-in-out;
}
.size-option-container.hide {
  transform: scale(0);
  transition: 400ms ease-in-out;
  width: 0;
  height: 0;
}
div.size-container-header {
  text-align: center;
  color: var(--light-blue);
  font-weight: bolder;
  font-size: clamp(16px,3vw,30px);
  letter-spacing: 5px;
}
.button-size-input{
  display: flex;
   width: 100%;
  height: 100%; 
}
.button-size-input > button {
  width: 100%;
  cursor: pointer;
  font-size: clamp(15px,11vw,2.7rem);
  border: 1px solid var(--dark-blue);
  border-radius: 12px;
  background: var(--medium-blue);
}
.button-size-input > button[data-size]{
  position: relative;
}

.button-size-input > button[data-size]::after{
  content: "start";
  position: absolute;
  left:  0;
  right: 0;
  bottom: 0;
  top: 0;
  background: lightblue;
  transition: 100ms ease-in-out;
  transform: scale(0,1);
  transition: transform 50ms ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-size-input > button[data-size]:hover::after{
transform: scale(1,1);
}
.button-size-input > button[data-size]:active::after{
  background-color: var(--medium-blue);
  }
.button-size-input > button[data-size]:hover .rules-container{
  bottom: 0;
  transform: scale(1,1);
}


.button-size-input > button:hover {
  background-color: lightblue;
  cursor: pointer;
}
.button-size-input > button:active {
  background-color: var(--medium-blue);
}
.game-option-result-container > .player-to-move-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: context-menu;
  color: var(--light-blue);
  background: var(--dark-blue);
  font-size: var(--input-font-size);
}

.game-option-result-container > .game-result.hide{
  transform: scale(0);
  width: 0;
}
.game-option-result-container > .game-result{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: context-menu;
  color: var(--light-blue);
  background: var(--dark-blue);
  transform: scale(1);
  transition: 200ms ease-in-out;
}

.game-option-result-container > button.reset-play-again {
  border-radius: 6px;
  padding: 8px;
  border: none;
  cursor: pointer;
  color: var(--light-blue);
  background: var(--dark-blue);
  font-size: var(--input-font-size);
}
.game-option-result-container > button.reset-play-again:active{
  background-color: var(--light-blue);
  color: var(--dark-blue);
}
.game-interface {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transform: scale(1);
  transition: 300ms ease-in-out;
  background-color: var(--medium-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-interface.hide {
  transform: scale(0);
  height: 0;
  width: 0;
}
.player-data-container {
  height: clamp(120px,47vh,500px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: clamp(90px,25vw,500px);
}
.player-data-container > input[type="text"]{
  padding: 5px;
  border-radius: 9px;
  background: transparent;
  border: none;
  text-align: center;
  font-size: clamp(16px,1.8vw,22px);
}
.player-data-container > input[type="text"]:hover{
  background-color: var(--light-blue);
  text-align: initial;
}
.player-data-container>img {
  width: clamp(75px,17vw,250px);
  height: clamp(75px,17vw,250px);
  align-self: center;
}
.game-option-result-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.board-players {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: clamp(250px,50vw,500px);
}

.board-players input[type="text"]:hover {
  background-color: var(--light-blue);
  border-radius: 8px;
}

.board-players input[type="text"] {
  height: clamp(16px,1.7vw,30px);
  padding-left: 5%;
  border: none;
  background: transparent;
  font-size: clamp(11px,1.4vw,16px);
  margin-bottom: clamp(40px,5vw,80px);
  width: 95%;
}
.board-container{
  width: 100%;  
  height: clamp(150px,47vw,500px);
  display: grid;
  gap: 1.5px;
  margin: 16px;
}

.board-container > .board-part{
  background-color: var(--dark-blue);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg.game-component{
  width: clamp(40px, 75% , 100px);
  height: clamp(40px, 75% , 100px);
  transform: scale(1);
  transition: 700ms ease-in-out;
}
g.winner{
  fill: var(--winning-color);
}
g.draw {
  fill: #878e99d4;
}
g{
  transition: 700ms ease-in-out;
}
svg.game-component.winner{
  transform: scale(1) rotate3d(2, -1, -1,360deg) !important;
  transition: 700ms;
}
svg.game-component.hide{
  width: 0px;
  height: 0px;
  transform: scale(0);
}
.user-input-container {
  display: flex;
  align-items: center;
  gap: clamp(11px,3vw,22px);
  box-shadow: 0px 0px 5px 5px var(--light-blue);
  padding: clamp(20px,5.5vw,50px);
  border-radius: 32px;
  transition: 400ms ease-in-out;
  margin: 35px;
}

.user-input-container.hide {
  transform: scale(0);
  width: 0;
  height: 0;
}
.user-input1,
.user-input2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: clamp(45px,17vw,260px);
}
.user-input-container input {
  border-radius: 8px;
  height: clamp(16px,1.7vw,30px);
  padding-left: 5%;
  border: none;
  background-color: var(--light-blue);
  font-size: var(--input-font-size);
  margin-bottom: clamp(38px,5vw,80px);
  width: 95%;
}
.input-body {
  display: flex;
  flex-direction: column;
}
.start-game-button {
  border-radius: 30px;
  height: clamp(32px,3.5vh,32px);
  font-size: var(--input-font-size);
  width: clamp(68px,12vw,135px);
  background: var(--medium-blue);
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
}
.start-game-button:hover {
  background: var(--light-blue);
  cursor: pointer;
}
.start-game-button:active {
  background: var(--medium-blue);
}

.player1,
.player2 {
  display: flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.radio__input {
  display: none;
}

.radio__label {
  box-sizing: border-box;
  padding: 8px 11px;
  background: var(--dark-blue);
  color: var(--light-blue);
  cursor: pointer;
  transition: background-color 0.1s;
  border-top: 4px solid var(--medium-blue);
  border-bottom: 4px solid var(--medium-blue);
  border-left: 1px solid var(--medium-blue);
  border-right: 1px solid var(--medium-blue);
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px,6vw,80px);
}

.radio__input:checked + .radio__label {
  background: var(--medium-blue);
  color: var(--dark-blue);
}
div.user-input-container div.symbol-error-message {
  color: var(--warning-red);
  align-self: center;
  margin-top: clamp(17px,20%,30px);
  transform: scale(1);
  transition: 300ms ease-in-out;
  font-size: var(--input-font-size);
}
div.user-input-container div.symbol-error-message.hide {
  transform: scale(0);
  height: 0px;
  margin: 0px;
}
